<div class="modal fade" id="editListNameModal" tabindex="-1" role="dialog" aria-labelledby="editListNameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="editListNameModalContent">
    </div>
  </div>
</div>

<div class="modal fade" id="newListModal" tabindex="-1" role="dialog" aria-labelledby="newListModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="newListModalContent">
    </div>
  </div>
</div>

<%= title('Lists')%>
<h1 class="lnk-new-list">Lists</h1>
<%= link_to(new_list_path, remote: true, class: "add-list") do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
<% end %>

<table id='lists'>
  <tbody>
    <% @lists.each do |list| %>
      <%= (render :partial => "list_row", locals: {list: list}) %>
    <% end %>
  </tbody>
</table>

<br>

