$('.error-msg').remove();
$('#addItemModalContent .form-group').removeClass('error');
<% @item.errors.keys.each do |field| %>
  $('#addItemModalContent .form-group label[for=item-<%= field %>]').parent().addClass('error');
  $('#addItemModalContent .form-group label[for=item-<%= field %>]').parent().prepend('<p class="error-msg"><%= j(@item.errors.full_messages_for(field).to_sentence)%></p>');
<% end %>
