// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:hover, a:focus {
  color: #fff;
  background-color: #764BC0;
  text-decoration: none;
}

.btn-edit{
  display: inline-block;
}

.lnk-new-list, .lnk-new-category{
  display: inline-block;
}

.add-list{
  padding-left: 10px;
}
.category-select, .unit-select{
  display: table;
}
.category_label, .selectize-control, .unit_label{
  display: table-cell;
  vertical-align: middle;
}
.category_label, .unit_label{
  padding-right: 10px;
}
.selectize-input {
  width: 200px !important;
}
